body{
  overflow-x: hidden;
}
/* logo css begins */
/* h2{
  font-size:40px;
  color:rgb(203, 217, 212);
  -webkit-text-stroke: 0.099vw rgb(228, 239, 235);
  text-transform: uppercase;
  position: relative;
}
.logo::before{
  content :attr(logo);
  position: absolute;
  top:0;
  left:0;
  width:0;
  height: 100%;
  color:rgb(225, 51, 175);
  -webkit-text-stroke: 1vw #c97159;
  border-right: 2px solid #ea28b6;
  overflow:hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate
{
  0%,10%,100%{
    width:0%;
  }
  70%,90%{
    width:100%;
  }
}
logo css ends  */
.nav-bar h2 img{
  height:8vh;
  width:8vh;
}
.nav-bar {
  position:sticky;
  top:0;
  width:100vw;
  height:8vh;
  background-color:rgb(42, 188, 134);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar ul{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.nav-bar ul li{
  list-style-type: none;
  font-size: 28px;
  font-weight: 550;
  color:white;
  /* text-decoration: none; */
}
.nav-bar ul Link{
  text-decoration: none;
}